* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#header {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #c3d7f1;
    /* background-color: #5477e14f; */
    width: 100%;
    margin-bottom: 20px;

}

#bodyheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:20px 0 10px 0;
}

#bodysection {
    margin: 5px 15%;
}

#section {
    display: flex;
    justify-content: space-between;
    margin-top:10px ;
}

#list {
    overflow-x: auto;
    text-align: center;
}

tbody {
    background-color: #fff;
    border-radius: 200px;
}

tr {
    vertical-align: middle;
}

td {
    margin: 5px 1px;
}

/* #detalhe {
    width: 200px;
} */

p {
    text-align: justify;
}

.btn-outline-danger, .btn-outline-warning {
    padding: 5px;
    width: 60px;
}

.enviar .btn {
    width: 100%;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav, .btn, #formulario {
        font-size: 0.9rem;
    }
    #bodysection {
        margin: 5px 5%;
    }
    #section {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}